/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
docker-compose.yaml
docker-compose.yml
Dockerfile
/php/*
/nginx/*
/mysql/*
/docker/*
/php/*
/mysql/*
cmd.md
.vscode/*
public/mix-manifest.json
composer.lock
storage-db/*
.vagrant/machines/default/virtualbox/private_key
.vagrant/machines/default/virtualbox/index_uuid
.vagrant/machines/default/virtualbox/id
.vagrant/machines/default/virtualbox/action_set_name
.vagrant/machines/default/virtualbox/action_provision
