.form {
    &__input {
      font-size: 1rem;
      font-family: inherit;
      color: inherit;
      padding: 0.8rem 1.2rem;
      border-radius: 5px;
      box-shadow: 0 0.5rem 1rem rgba($color-black,.2);
      box-sizing: border-box;
      width: 100%;
      display: inline-block;
      transition: all 0.3s;
  
      &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      
        &:invalid {
          border-bottom-color: $color-danger;
        }
        &:required {
          border-bottom-color: $color-tertiary;
        }
      }
      &--green {
        border: 1px solid $color-secondary;

        &:focus {
            border-color: $color-tertiary;
        }
      }
      &--violet {
          border: 1px solid $color-tertiary;
          background: $color-grey-light;

        &:focus {
            border-color: $color-tertiary-dark;
        }
      }
    }
    &__label {
      font-size: 1.2rem;
      font-weight: 700;
      margin-left: 2rem;
      margin-top: 0.7rem;
      display: block;
      transition: all 0.3s;
    }
    &__input::-webkit-input-placeholder {
      color: $color-mostly-white;
    }
    &__input:placeholder-shown + &__label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem);
    }
}