parameters:
    phpVersion: null
    level: 4
    paths:
#        - .\..\public\Scan # Windows path with backslashes
        - ./../public\Scan # Linux path with slashes
    excludes_analyse:
        - vendor/*
    parallel:
        jobSize: 20
        processTimeout: 60.0
        maximumNumberOfProcesses: 32
        minimumNumberOfJobsPerProcess: 2
        buffer: 134217728 # 128 MB
    cache:
        nodesByFileCountMax: 1024
        nodesByStringCountMax: 1024
    fileExtensions:
        - php
    #memoryLimit: 8G
    #errorFormat: prettyJson
    #quiet: true
