/*
*   COLORS
*/

$color-primary-light : #3a3a3f;
$color-primary : #27272c;
$color-primary-dark : #212125;
$color-primary-ultra-light : #696975;

$color-secondary : #62cb5c;
$color-secondary-light : #9ade96;

$color-tertiary-light:#ab97ff;
$color-tertiary : #967dff;
$color-tertiary-dark :  #886add;

$color-white: #fff;
$color-mostly-white: #fbfbfb;
$color-black: #000;
$color-grey-light: #B8B8BF;
$color-warning: #ffa500;
$color-danger : #ff6347;
/*
*   TYPOGRAPHIE
*/
$default-font-size: 1.3rem;
$family-title: 'Open Sans', sans-serif;
$family-text: 'Lato', sans-serif;

/* 
PALETTE COLORS VUETIFY

    --v-anchor-base: #27272c;
    --v-primary-base: #27272c;
    --v-primary-lighten5: #9f9fa6;
    --v-primary-lighten4: #85858b;
    --v-primary-lighten3: #6c6c72;
    --v-primary-lighten2: #545459;
    --v-primary-lighten1: #3d3d42;
    --v-primary-darken1: #131218;
    --v-primary-darken2: #000000;
    --v-primary-darken3: #000000;
    --v-primary-darken4: #000000;
    --v-secondary-base: #62cb5c;
    --v-secondary-lighten5: #f4ffe5;
    --v-secondary-lighten4: #d6ffc8;
    --v-secondary-lighten3: #b9ffac;
    --v-secondary-lighten2: #9cff91;
    --v-secondary-lighten1: #7fe876;
    --v-secondary-darken1: #44af42;
    --v-secondary-darken2: #219428;
    --v-secondary-darken3: #007909;
    --v-secondary-darken4: #006000;
    --v-accent-base: #ff4081;
    --v-accent-lighten5: #ffd8ff;
    --v-accent-lighten4: #ffbaed;
    --v-accent-lighten3: #ff9dd1;
    --v-accent-lighten2: #ff7fb6;
    --v-accent-lighten1: #ff619b;
    --v-accent-darken1: #df1368;
    --v-accent-darken2: #c00050;
    --v-accent-darken3: #a1003a;
    --v-accent-darken4: #820025;
    --v-error-base: #ff6347;
    --v-error-lighten5: #fff2c9;
    --v-error-lighten4: #ffd4ae;
    --v-error-lighten3: #ffb793;
    --v-error-lighten2: #ff9b79;
    --v-error-lighten1: #ff7f5f;
    --v-error-darken1: #df472f;
    --v-error-darken2: #bf2818;
    --v-error-darken3: #9f0000;
    --v-error-darken4: #810000;
    --v-info-base: #967dff;
    --v-info-lighten5: #ffffff;
    --v-info-lighten4: #ffeaff;
    --v-info-lighten3: #eeceff;
    --v-info-lighten2: #d1b2ff;
    --v-info-lighten1: #b397ff;
    --v-info-darken1: #7964e2;
    --v-info-darken2: #5c4bc5;
    --v-info-darken3: #3d34aa;
    --v-info-darken4: #161d8e;
    --v-success-base: #9ade96;
    --v-success-lighten5: #ffffff;
    --v-success-lighten4: #ffffff;
    --v-success-lighten3: #efffe9;
    --v-success-lighten2: #d2ffcd;
    --v-success-lighten1: #b6fbb1;
    --v-success-darken1: #7fc27c;
    --v-success-darken2: #64a662;
    --v-success-darken3: #4a8c4a;
    --v-success-darken4: #307232;
    --v-warning-base: #ffa500;
    --v-warning-lighten5: #ffffa5;
    --v-warning-lighten4: #ffff88;
    --v-warning-lighten3: #fff96c;
    --v-warning-lighten2: #ffdc4f;
    --v-warning-lighten1: #ffc031;
    --v-warning-darken1: #df8b00;
    --v-warning-darken2: #c07100;
    --v-warning-darken3: #a15800;
    --v-warning-darken4: #844000;
    --v-colorPrimaryLight-base: #3a3a3f;
    --v-colorPrimaryLight-lighten5: #b7b7bd;
    --v-colorPrimaryLight-lighten4: #9c9ca2;
    --v-colorPrimaryLight-lighten3: #828288;
    --v-colorPrimaryLight-lighten2: #69696f;
    --v-colorPrimaryLight-lighten1: #515156;
    --v-colorPrimaryLight-darken1: #242429;
    --v-colorPrimaryLight-darken2: #0f0f15;
    --v-colorPrimaryLight-darken3: #000000;
    --v-colorPrimaryLight-darken4: #000000;
    --v-colorPrimary-base: #27272c;
    --v-colorPrimary-lighten5: #9f9fa6;
    --v-colorPrimary-lighten4: #85858b;
    --v-colorPrimary-lighten3: #6c6c72;
    --v-colorPrimary-lighten2: #545459;
    --v-colorPrimary-lighten1: #3d3d42;
    --v-colorPrimary-darken1: #131218;
    --v-colorPrimary-darken2: #000000;
    --v-colorPrimary-darken3: #000000;
    --v-colorPrimary-darken4: #000000;
    --v-colorPrimaryDark-base: #212125;
    --v-colorPrimaryDark-lighten5: #98989d;
    --v-colorPrimaryDark-lighten4: #7e7e83;
    --v-colorPrimaryDark-lighten3: #65656a;
    --v-colorPrimaryDark-lighten2: #4d4d52;
    --v-colorPrimaryDark-lighten1: #36363b;
    --v-colorPrimaryDark-darken1: #0a0a10;
    --v-colorPrimaryDark-darken2: #000000;
    --v-colorPrimaryDark-darken3: #000000;
    --v-colorPrimaryDark-darken4: #000000;
    --v-colorPrimaryUltraLight-base: #696975;
    --v-colorPrimaryUltraLight-lighten5: #efeffd;
    --v-colorPrimaryUltraLight-lighten4: #d3d3e0;
    --v-colorPrimaryUltraLight-lighten3: #b7b7c4;
    --v-colorPrimaryUltraLight-lighten2: #9c9ca9;
    --v-colorPrimaryUltraLight-lighten1: #82828f;
    --v-colorPrimaryUltraLight-darken1: #51515c;
    --v-colorPrimaryUltraLight-darken2: #3a3a45;
    --v-colorPrimaryUltraLight-darken3: #24242f;
    --v-colorPrimaryUltraLight-darken4: #100f1a;
    --v-colorSecondary-base: #62cb5c;
    --v-colorSecondary-lighten5: #f4ffe5;
    --v-colorSecondary-lighten4: #d6ffc8;
    --v-colorSecondary-lighten3: #b9ffac;
    --v-colorSecondary-lighten2: #9cff91;
    --v-colorSecondary-lighten1: #7fe876;
    --v-colorSecondary-darken1: #44af42;
    --v-colorSecondary-darken2: #219428;
    --v-colorSecondary-darken3: #007909;
    --v-colorSecondary-darken4: #006000;
    --v-colorSecondaryLight-base: #9ade96;
    --v-colorSecondaryLight-lighten5: #ffffff;
    --v-colorSecondaryLight-lighten4: #ffffff;
    --v-colorSecondaryLight-lighten3: #efffe9;
    --v-colorSecondaryLight-lighten2: #d2ffcd;
    --v-colorSecondaryLight-lighten1: #b6fbb1;
    --v-colorSecondaryLight-darken1: #7fc27c;
    --v-colorSecondaryLight-darken2: #64a662;
    --v-colorSecondaryLight-darken3: #4a8c4a;
    --v-colorSecondaryLight-darken4: #307232;
    --v-colorTertiary-base: #967dff;
    --v-colorTertiary-lighten5: #ffffff;
    --v-colorTertiary-lighten4: #ffeaff;
    --v-colorTertiary-lighten3: #eeceff;
    --v-colorTertiary-lighten2: #d1b2ff;
    --v-colorTertiary-lighten1: #b397ff;
    --v-colorTertiary-darken1: #7964e2;
    --v-colorTertiary-darken2: #5c4bc5;
    --v-colorTertiary-darken3: #3d34aa;
    --v-colorTertiary-darken4: #161d8e;
    --v-colorTertiaryLight-base: #ab97ff;
    --v-colorTertiaryLight-lighten5: #ffffff;
    --v-colorTertiaryLight-lighten4: #ffffff;
    --v-colorTertiaryLight-lighten3: #ffeaff;
    --v-colorTertiaryLight-lighten2: #e5cdff;
    --v-colorTertiaryLight-lighten1: #c8b2ff;
    --v-colorTertiaryLight-darken1: #8f7de2;
    --v-colorTertiaryLight-darken2: #7364c6;
    --v-colorTertiaryLight-darken3: #584caa;
    --v-colorTertiaryLight-darken4: #3c358f;
    --v-colorTertiaryDark-base: #886add;
    --v-colorTertiaryDark-lighten5: #fff2ff;
    --v-colorTertiaryDark-lighten4: #fcd5ff;
    --v-colorTertiaryDark-lighten3: #deb9ff;
    --v-colorTertiaryDark-lighten2: #c19eff;
    --v-colorTertiaryDark-lighten1: #a484fa;
    --v-colorTertiaryDark-darken1: #6c51c1;
    --v-colorTertiaryDark-darken2: #5039a5;
    --v-colorTertiaryDark-darken3: #32238a;
    --v-colorTertiaryDark-darken4: #0c0c70;
    --v-white-base: #ffffff;
    --v-white-lighten5: #ffffff;
    --v-white-lighten4: #ffffff;
    --v-white-lighten3: #ffffff;
    --v-white-lighten2: #ffffff;
    --v-white-lighten1: #ffffff;
    --v-white-darken1: #e2e2e2;
    --v-white-darken2: #c6c6c6;
    --v-white-darken3: #ababab;
    --v-white-darken4: #919191;
    --v-mostlyWhite-base: #fbfbfb;
    --v-mostlyWhite-lighten5: #ffffff;
    --v-mostlyWhite-lighten4: #ffffff;
    --v-mostlyWhite-lighten3: #ffffff;
    --v-mostlyWhite-lighten2: #ffffff;
    --v-mostlyWhite-lighten1: #ffffff;
    --v-mostlyWhite-darken1: #dedede;
    --v-mostlyWhite-darken2: #c3c3c3;
    --v-mostlyWhite-darken3: #a7a7a7;
    --v-mostlyWhite-darken4: #8d8d8d;
    --v-black-base: #000000;
    --v-black-lighten5: #777777;
    --v-black-lighten4: #5e5e5e;
    --v-black-lighten3: #474747;
    --v-black-lighten2: #303030;
    --v-black-lighten1: #1b1b1b;
    --v-black-darken1: #000000;
    --v-black-darken2: #000000;
    --v-black-darken3: #000000;
    --v-black-darken4: #000000;
    --v-colorGreyLight-base: #b8b8bf;
    --v-colorGreyLight-lighten5: #ffffff;
    --v-colorGreyLight-lighten4: #ffffff;
    --v-colorGreyLight-lighten3: #ffffff;
    --v-colorGreyLight-lighten2: #f0f0f7;
    --v-colorGreyLight-lighten1: #d4d4db;
    --v-colorGreyLight-darken1: #9d9da4;
    --v-colorGreyLight-darken2: #83838a;
    --v-colorGreyLight-darken3: #6a6a70;
    --v-colorGreyLight-darken4: #525258;
    --v-colorGrey-base: #868693;
    --v-colorGrey-lighten5: #ffffff;
    --v-colorGrey-lighten4: #f3f3ff;
    --v-colorGrey-lighten3: #d7d7e5;
    --v-colorGrey-lighten2: #bbbbc9;
    --v-colorGrey-lighten1: #a0a0ae;
    --v-colorGrey-darken1: #6d6d79;
    --v-colorGrey-darken2: #545460;
    --v-colorGrey-darken3: #3d3d49;
    --v-colorGrey-darken4: #272832;
    --v-colorGreyDark-base: #565660;
    --v-colorGreyDark-lighten5: #d9d9e4;
    --v-colorGreyDark-lighten4: #bdbdc8;
    --v-colorGreyDark-lighten3: #a2a2ad;
    --v-colorGreyDark-lighten2: #888892;
    --v-colorGreyDark-lighten1: #6e6e79;
    --v-colorGreyDark-darken1: #3f3f48;
    --v-colorGreyDark-darken2: #292932;
    --v-colorGreyDark-darken3: #15151d;
    --v-colorGreyDark-darken4: #000003;
    --v-colorWarning-base: #ffa500;
    --v-colorWarning-lighten5: #ffffa5;
    --v-colorWarning-lighten4: #ffff88;
    --v-colorWarning-lighten3: #fff96c;
    --v-colorWarning-lighten2: #ffdc4f;
    --v-colorWarning-lighten1: #ffc031;
    --v-colorWarning-darken1: #df8b00;
    --v-colorWarning-darken2: #c07100;
    --v-colorWarning-darken3: #a15800;
    --v-colorWarning-darken4: #844000;
    --v-colorDanger-base: #ff6347;
    --v-colorDanger-lighten5: #fff2c9;
    --v-colorDanger-lighten4: #ffd4ae;
    --v-colorDanger-lighten3: #ffb793;
    --v-colorDanger-lighten2: #ff9b79;
    --v-colorDanger-lighten1: #ff7f5f;
    --v-colorDanger-darken1: #df472f;
    --v-colorDanger-darken2: #bf2818;
    --v-colorDanger-darken3: #9f0000;
    --v-colorDanger-darken4: #810000;
*/