/*
*   COLORS
*/

$color-primary-light : #3a3a3f;
$color-primary : #27272c;
$color-primary-dark : #212125;
$color-primary-ultra-light : #696975;

$color-secondary : #62cb5c;
$color-secondary-light : #9ade96;

$color-tertiary-light:#ab97ff;
$color-tertiary : #967dff;
$color-tertiary-dark :  #886add;

$color-white: #fff;
$color-mostly-white: #fbfbfb;
$color-black: #000;
$color-grey-light: #B8B8BF;
$color-warning: #ffa500;
$color-danger : #ff6347;
/*
*   TYPOGRAPHIE
*/
$default-font-size: 1.3rem;
$family-title: 'Open Sans', sans-serif;
$family-text: 'Lato', sans-serif;
